
{% extends 'base.html' %}

{% block content %}
	<div class="well well-large">
		<br> 
    <h1 >{% block title %} Welcome to Topic Modeling Express {% endblock %}</h1>
	<h2>Your One Click Shop for Topic Modeling </h2>
	<p><br> <br>  </p>
	</div>
	<div class="well well-large">
	<p>
		
		
	<p>
		<div class="alert alert-primary">
			<h3>Project by Maria Fernandez </h3>
			<h4>University of Illinois at Urbana-Champaign  </h4>
			<h4>Data Mining Capstone  </h4>
			<p> <br> </p><p> </p><p> </p>

  </div>  
	 </p>
 </div>  
{% endblock %}