
{% extends 'base.html' %}

{% block content %}
	<div class="well well-large">
		<br> 
    <h1 >{% block title %} Welcome to Topic Modeling Express {% endblock %}</h1>
	<h2>Your One Click Shop for Topic Modeling </h2>
	<p><br> <br>  </p>
	</div>
	<div class="well well-large">
	<p>
		
		
	<p>
		<div class="alert alert-primary">
			<h4>Click in any of the files, download it to your local drive and use them to run Topic Modeling with this tool </h4>
			<h4>Smaller versions of the files are provided for your convenience </h4>
	        <table class="table table-bordered"  > 
	        <thead class="thead-light">
	          <tr>
	            <th >Files</th>
	          </tr>
	        </thead>
			<tr>
				<td>
			<a  href="https://raw.githubusercontent.com/mariahuipe/SampleFiles/main/Golf.txt">Golf</a></td>
			
		</tr>
			<tr>
				<td>
			<a  href="https://raw.githubusercontent.com/mariahuipe/SampleFiles/main/Greek.txt">Greek</a></td>
			
		</tr>
			<tr>
				<td>
			<a  href="https://raw.githubusercontent.com/mariahuipe/SampleFiles/main/GreekSmall.txt">Greek Small</a></td>
			
		</tr>
			<tr>
				<td>
			<a  href="https://raw.githubusercontent.com/mariahuipe/SampleFiles/main/Thai.txt">Thai</a></td>
			
		</tr>
			<tr>
				<td>
			<a  href="https://raw.githubusercontent.com/mariahuipe/SampleFiles/main/ThaiSmall.txt">Thai Small</a></td>
			
		</tr>
			<tr>
				<td>
			<a  href="https://raw.githubusercontent.com/mariahuipe/SampleFiles/main/Vegan.txt">Vegan</a></td>
			
		</tr>
			<tr>
				<td>
			<a  href="https://raw.githubusercontent.com/mariahuipe/SampleFiles/main/VeganSmall.txt">Vegan Small</a></td>
			
		</tr>
			
 
  	  </div>  
	 </p>
 	</div>  
{% endblock %}